$white: rgba(255, 255, 255,1);
$grey: rgba(186, 187, 197);
$lightgrey: rgba(198, 203, 205, 1);
$darkgrey: rgba(108, 114, 121);
$footergrey: rgba(128, 128, 128, 1);
$red: rgba(255, 67, 67, 1);
$lightred:rgba(255, 66, 66, 1);
$darkred:rgba(185, 12, 12, 0.8);
$blue:rgba(53, 60, 101, 1);
$darkblue:rgba(44, 49, 84, 1);
$lightblue:rgba(127, 160, 255, 0.83);
$black: rgba(45, 48, 51, 1);
$bordo: rgba(92, 50, 73, 1);