$white: rgba(255, 255, 255, 1);
$grey: rgba(186, 187, 197, 1);
$red: rgba(255, 67, 67, 1);
$lightred:rgba(255, 67, 67, 0.80);
$darkred:rgba(185, 12, 12, 0.8);
$black: rgb(0, 0, 0);
$violet: rgb(53, 60, 101);
$darkviolet: rgb(44, 49, 84);
$purpure: rgb(92, 50, 73)