@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 22px 0;
  }
}
.header.scrolled {
  display: none;
}
.header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__container:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: calc(100% - 30px);
  border-top: 1px solid rgb(186, 187, 197);
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .header__container:after {
    display: none;
  }
}
.header__logo {
  position: relative;
}
@media screen and (max-width: 767px) {
  .header__logo {
    display: flex;
    max-width: 103.472px;
  }
}
.header__toggle-menu {
  display: none;
  z-index: 3;
  width: 24px;
  height: 18px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header__toggle-menu {
    display: flex;
    align-items: center;
  }
}
.header__toggle-menu::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
  left: 0;
  top: 0;
  transition: all 0.3s linear;
}
.header__toggle-menu::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 3px solid rgb(255, 255, 255);
  left: 0;
  bottom: 0;
  transition: all 0.3s linear;
}
.header__toggle-menu.open .header__toggle-item {
  opacity: 0;
}
.header__toggle-menu.open::after {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: all 0.3s linear;
}
.header__toggle-menu.open::before {
  transform: rotate(45deg) translate(5.8px, 5.8px);
  transition: all 0.3s linear;
}
.header__toggle-item {
  border-bottom: 3px solid rgb(255, 255, 255);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  transition: all 0.3s linear;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .nav.open {
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    flex-direction: column;
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: no-repeat;
  }
  .nav.open::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: rgb(37, 43, 73);
  }
}
.nav__menu {
  z-index: 1;
  -moz-column-gap: 30px;
       column-gap: 30px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid transparent;
  color: rgb(255, 255, 255);
  padding: 36px 5px;
  min-width: 132px;
  display: block;
}
.nav__link:hover {
  color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(186, 187, 197);
}
.nav__link:active {
  color: rgb(255, 67, 67);
  border-bottom: 3px solid rgb(255, 67, 67);
}

/* Banner */
.banner {
  background: url(../images/background.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0 0 120px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
    margin-bottom: 78px;
  }
}
.banner:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: rgb(37, 43, 73);
}
.banner__container {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 20px;
  }
}
.banner__title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Raleway";
  font-size: 64px;
  font-weight: 900;
  line-height: 75.14px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .banner__title {
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 900;
    line-height: 42.26px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 86px;
  }
}
.banner__text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.18px;
  margin-bottom: 83px;
}
@media screen and (max-width: 767px) {
  .banner__text {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 100%;
    margin-bottom: 67px;
  }
}
.banner__button {
  display: block;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 900;
  line-height: 28.18px;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(255, 67, 67);
  border: none;
  max-width: 370px;
  width: 100%;
  padding: 13px 0 18px;
  margin: 0 auto;
}
.banner__button:hover {
  background: rgba(185, 12, 12, 0.8);
}
.banner__button:active {
  background: rgba(255, 67, 67, 0.8);
  box-shadow: 4px 4px 30px 0px rgb(255, 67, 67);
}
@media screen and (max-width: 767px) {
  .banner__button {
    max-width: 100%;
    margin-bottom: 52px;
  }
}

/* Features */
.features__container {
  margin: 116px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  max-width: 1510px;
}
@media screen and (max-width: 767px) {
  .features__container {
    margin: 40px auto 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.features__block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  margin-bottom: 87px;
}
@media screen and (max-width: 767px) {
  .features__block {
    max-width: 279px;
    margin-bottom: 41px;
  }
  .features__block:nth-last-child(1) {
    margin-bottom: 0;
  }
}
.features__block:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.features__image {
  max-width: 100px;
  margin-bottom: 29px;
}
@media screen and (max-width: 767px) {
  .features__image {
    margin-bottom: 20px;
  }
  .features__image svg {
    width: 75.753px;
    height: 75.753px;
  }
}
.features__title {
  max-width: 370px;
  color: #2d3033;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 900;
  line-height: 28.18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .features__title {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
    margin-bottom: 10px;
    max-width: 280px;
  }
}
.features__description {
  max-width: 370px;
  color: #6c7279;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .features__description {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    max-width: 280px;
  }
}

/* Work */
.work__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  -moz-column-gap: 2px;
       column-gap: 2px;
  max-width: 1510px;
}
@media screen and (max-width: 767px) {
  .work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.work__image {
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 100%;
}
.work__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.work__info:hover {
  opacity: 1;
}
.work__info:active {
  opacity: 1;
  background: rgba(185, 12, 12, 0.8);
}
.work__title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.work__text {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(255, 255, 255);
}

.team {
  margin-bottom: 114px;
  scroll-margin-top: 57px;
}
@media only screen and (max-width: 1024px) {
  .team {
    margin-bottom: 78.41px;
  }
}
@media only screen and (max-width: 767px) {
  .team {
    margin-bottom: 34.39px;
  }
}

.our__team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .our__team-container {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .our__team-container {
    row-gap: 49px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.member__wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1/1;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1024px) {
  .member__wrapper-img {
    margin-bottom: 27px;
    aspect-ratio: 1/1;
  }
}
@media only screen and (max-width: 767px) {
  .member__wrapper-img {
    margin-bottom: 28px;
    aspect-ratio: 280/227;
  }
}
.member__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.member__name {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 5.29px;
  text-transform: capitalize;
}
@media only screen and (max-width: 1024px) {
  .member__name {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 21px;
  }
}
.member__position {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(255, 255, 255);
  margin-bottom: 17.86px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  .member__position {
    margin-bottom: 22.45px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .member__position {
    margin-bottom: 38.49px;
  }
}
.member__description {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(255, 255, 255);
  margin-bottom: 38px;
}
@media only screen and (max-width: 1024px) {
  .member__description {
    margin-bottom: 39.2px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .member__description {
    margin-bottom: 55.15px;
  }
}/*# sourceMappingURL=style.css.map */