@import "reset";
@import "mixin";
@import "cdn";
@import "color";

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @media screen and (max-width: 767px) {
        padding: 22px 0;
    }
    &.scrolled {
        display: none;
    }
    &__container {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &:after {
            position: absolute;
            content: "";
            bottom: 0;
            width: calc(100% - 30px);
            border-top: 1px solid $grey;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    &__logo {
        position: relative;
        @media screen and (max-width: 767px) {
            display: flex;
            max-width: 103.472px;
        }
    }
    &__toggle-menu {
        display: none;
        z-index: 3;
        width: 24px;
        height: 18px;
        position: relative;
        @media screen and (max-width: 767px) {
            display: flex;
            align-items: center;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            border-bottom: 3px solid $white;
            left: 0;
            top: 0;

        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            border-bottom: 3px solid $white;
            left: 0;
            bottom: 0;
        }
        &.open {
            .header__toggle-item {
                opacity: 0;
            }
            &::after {
                transform: rotate(-45deg) translate(5px, -5px);
                
            }
            &::before {
                transform: rotate(45deg) translate(5.8px, 5.8px);
            }
        }
    }
    &__toggle-item {
        border-bottom: 3px solid $white;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
}

.nav {
    @media screen and (max-width: 767px) {
        display: none;
        &.open {
            display: flex;
            .nav {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                top: 0;
                left: 0;
                flex-direction: column;
                z-index: 2;
                background:url(../images/background.jpg);
                background-size: cover;
                background-position: no-repeat;
            }
        }
    }
    &__menu {
        column-gap: 30px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        @include font("Raleway", 13px, 700, 15px);
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid transparent;
        color: $white;
        padding: 36px 5px;
        min-width: 132px;
        display: block;

        &:hover {
            color: $white;
            border-bottom: 3px solid $grey;
        }
        &:active {
            color: $red;
            border-bottom: 3px solid $red;
        }
    }
}

/* Banner */

.banner {
    background:
        url(../images/background.jpg),
        lightgray 50% / cover no-repeat;
    padding: 230px 0 120px;
    position: relative;
    @media screen and (max-width: 767px) {
        padding: 0;
    }
    &:after {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-color: rgba(37, 43, 73, 1);
    }
    &__container {
        position: relative;
        z-index: 1;
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            padding: 20px;
        }
    }
    &__title {
        color: $white;
        text-align: center;
        @include font("Raleway", 64px, 900, 75.14px);
        text-transform: uppercase;
        padding-top: 230px;
        margin-bottom: 30px;
        @media screen and (max-width: 767px) {
            color: $white;
            @include font("Raleway", 36px, 900, 42.26px);
            text-align: center;
            text-transform: uppercase;
            padding-top: 86px;
        }
    }
    &__text {
        color: $white;
        text-align: center;
        @include font("Raleway", 24px, 400, 28.18px);
        margin-bottom: 83px;
        @media screen and (max-width: 767px) {
            @include font("Raleway", 14px, 400, 16.44px);
            color: $white;
            text-align: center;
            max-width: 100%;
            margin-bottom: 67px;
        }
    }
    &__button {
        display: block;
        cursor: pointer;
        color: #fff;
        text-align: center;
        @include font("Raleway", 24px, 900, 28.18px);
        text-transform: uppercase;
        text-decoration: none;
        background: $red;
        border: none;
        max-width: 370px;
        width: 100%;
        padding: 13px 0 18px;
        margin: 0 auto;
        &:hover {
            background: $darkred;
        }
        &:active {
            background: $lightred;
            box-shadow: 4px 4px 30px 0px $red;
        }
        @media screen and (max-width: 767px) {
            max-width: 100%;
            margin-bottom: 52px;
        }
    }
}

/* Features */

.features {
    &__container {
        margin: 116px 170px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        max-width: 1510px;
    }
    @media screen and (max-width: 767px) {
        &__container {
            margin: 40px auto 35px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 30px;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        margin-bottom: 87px;
        @media screen and (max-width: 767px) {
            max-width: 279px;
            margin-bottom: 41px;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
    &__block:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
    &__image {
        max-width: 100px;
        margin-bottom: 29px;
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
            svg {
                width: 75.753px;
                height: 75.753px;
            }
        }
    }

    &__title {
        max-width: 370px;
        color: #2d3033;
        @include font("Raleway", 24px, 900, 28.18px);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            @include font("Raleway", 18px, 900, 21px);
            margin-bottom: 10px;
            max-width: 280px;
        }
    }
    &__description {
        max-width: 370px;
        color: #6c7279;
        @include font("Raleway", 18px, 400, 21px);
        text-align: center;
        @media screen and (max-width: 767px) {
            @include font("Raleway", 14px, 400, 16px);
            max-width: 280px;
        }
    }
}

/* Work */

.work {
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
        padding: 0;
        column-gap: 2px;
        max-width: 1510px;
        @media screen and (max-width: 767px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__image {
        position: relative;
        padding-top: 100%;
        width: 100%;
        height: 100%;
    }
    &__img {
        position: absolute;
        object-fit: cover;
        overflow: hidden;
        object-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $lightred;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
            background: rgba(185, 12, 12, 0.8);
        }
    }
    &__title {
        @include font("Raleway", 24px, 900, 28px);
        color: $white;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__text {
        @include font("Raleway", 18px, 400, 21px);
        color: $white;
    }
}
